@import "./normalize.css"
@import "./reset.styl"
.header
  width: 100%
  height: 64px
  line-height: 64px
  background: #606060
  display: flex
  justify-content: space-between

  .header-menu
    margin: 10px 0 0 10px
    .header-menu-top
      height: 3px
      border-radius: 10px
      background: #FBFBFB
      width: 32px
      margin: 10px 0
    .header-menu-middle
      height: 3px
      border-radius: 10px
      background: #FBFBFB
      width: 32px
      margin: 10px 0
    .header-menu-bottom
      height: 3px
      border-radius: 10px
      background: #FBFBFB
      width: 32px
      margin: 10px 0
