@import "./normalize.css"
@import "./reset.styl"
  .header
    width: 100%
    background: blue
    text-align: center

    .h1
      color: white
      font-size: 32px

    .h2
      color: blue
      font-size: 100px
  .main
    width: 100%
    background: red
  .footer
    width: 100%
    background: green
